@import "variables";
@import "mixin";

body {
  background: $main-color;
}

@include tablet {
  body {
    background: #000;
  }
}

@include desktop {
  body {
    background: cadetblue;
  }
}
